<div class="jumbotron">
	<h1>About the App</h1>
</div>
<div class="well">
	<ul>
		<li>Developed during One Month Rails course</li>
		<li>User authentication using devise</li>
		<li>Utilizes belongs_to and has_many associations between pins and users</li>
		<li>Dynamic resizing of pins</li>
	</ul>
</div>
